:root {
  --white: #ffffff;
  --yellow: #FAEB49;
  --gray: #565656;
  --black: #000000;
}
*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;
  h2 {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
    font-weight: 700;
    color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 119px;
  }
  h3 {
    color: #FAEB49;
    font-family: "DynaPuff";
    font-size: 48px;
  }
  .main-page {
    height: 800px;
    width: 100%;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    
    .container {
      margin: 0 auto;
      width: 73%;
      height: 800px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
 
      .header{
        position: fixed;
        height: 92px; 
        width: 73%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 10;

        &__logo-img {
          width: 56px;
          height: 56px;
          background-image: url(/images/Hope.svg);
        }
      }
      .nav{
        
        &__menu-list{
          display: flex;
          flex-direction: row;
          gap: 20px;
          padding: 0;
          margin: 0;
        }
        
        &__menu-list-item {
          list-style: none;
          border-radius: 20px;
          border: 1px solid #FFF;
          padding: 10px 16px; 
        }
      
        .list-item{
          &__link{
            text-decoration: none;
            color: var(--white);
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            gap: 12px;

            & svg {
              padding-top: 3px;
            }
          }
        }
  }
  .wrapper{
   height: 800px;
   display: flex;
   flex-direction: column;
   justify-content: end;
  }
  }
  }
  .main{
    width: 100%;
    background: #202020;
    background-image: url(../images/Group1.svg);
    background-repeat: no-repeat;
    background-position-y: -40px;
    background-position-x: right;

    .container{
      margin: 0 auto;
      width: 73%;
      height: 470px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

        .statistic{
          display: flex;
          flex-direction: column;
          gap: 40px;
          width: 540px;
          z-index: 2;
          
          &__text{
            color: #FFF;
            font-family: "Manrope";
            font-weight: 500;
          }
          .statistic-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;

            &__list{
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            }

            &__item{
              color: #FFF;
              display: flex;
              flex-direction: column;
              gap: 5px;
            }
          }
          .statistic-name {
            font-family: "Manrope";
            font-weight: 700;
            }
            
            .statistic-number{
              font-family: "DynaPuff";
              font-size: 48px;
            }
            
            }
          }

      .projects{
        background: #3C3C3C;
        height: 1460px;
        width: 100%;
        
        .container{
          width: 73%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 1460px;
        gap: 40px;
        }
        & a {
            position: relative;
            height: 545px;
          }
        &__banking:first-child{
          grid-column: 1 / 4;
          margin-top: 86px;
        }
        .banking {
          border-radius: 24px;
          background: #FFFEF2;
          text-decoration: none;
          padding: 24px 20px;
          height: min-content;
          
          &__arrow {
            width: 56px;
            height: 56px;
            background: #FFF;
            border-radius: 50px;
            position: absolute;
            top: 40px;
            right: 40px;
            display: flex; 
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
          & h4 {
            color: #565656;
            font-family: "DynaPuff";
            font-size: 40px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 22px;
          } 
          & p{
            color: #000;
            font-family: "Manrope";
          } 
          & h5 {
            color: #565656;
            font-family: "DynaPuff";
            font-size: 32px;
            margin-top: 20px;
            margin-bottom: 22px;
          } 
          &__img-first{
            max-width: 100%;
            height: 100%;
            border-radius: 13px;
          }
          &__img-second {
            width: 100%;
            height: 338px;
            border-radius: 13px;
          }
          &__img-third {
            width: 100%;
            height: 338px;
            border-radius: 13px;
          }
          &__img-fourth {
            width: 100%;
            height: 338px;
            border-radius: 13px;
          }
          &__description{
            font-weight: bold;
          }
          }
         
        }
      .graphics{
        height: 1250px; 
        background: #202020;
        
        .container{
          height: 100%;
          width: 73%;
          
          & h2 {
            margin-top: 82px;
            padding-bottom: 40px;
            
          }
        }
          &__images{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 26px;

            .image-first{
              background-image: url(../images/unsplash_rqIfy1UyIzE.png);
              grid-column: 1 / 3;
              width: 100%;
              position: relative;
              height: 414px;
              background-repeat: no-repeat;
              border-radius: 40px;
              background-position: center;
              background-size: cover;
            }
            .image-second{
              width: 100%;
              height: 100%;
              border-radius: 40px;
              background-repeat: no-repeat;
              position: relative;
              background-image: url(../images/Rectangle6.png);
              background-position: center;
              background-size: cover;
            }
            .image-third{
              width: 100%;     
              height: 414px;
              border-radius: 40px;
              background-repeat: no-repeat;
              position: relative;
              background-image: url(../images/Rectangle7.png);
              background-position: center;
              background-size: cover;
            }
            .image-first::after{
              position: absolute;
              display: block;
              content: '';
              background-repeat: no-repeat;
              background-image: url(../images/SoftStar.png);
            }
            .image-second::after{
              position: absolute;
              display: block;
              content: '';
              background-repeat: no-repeat;
              background-image: url(../images/Butterfly.png);
              
            }
            
           
            .image-third:after{
              background-image: url(../images/Asterisk1.png);
              position: absolute;
              display: block;
              content: '';
              background-repeat: no-repeat;
              
              
            }
          }
         
    }
      }
      .quote::after{
        background-color:rgba(0,0,0,.5);
        display: block;
        content: '';
        position: absolute;
        height: 800px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .quote{
        position: relative;
        height: 800px;
        width: 100%;
        background-color:rgba(0,0,0.5);
          background-image: url(../images/Rectangle8.jpg);
          background-position: center;
        
        .container{
          width: 73%;
          height: 800px;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          & h3 {
            margin: 0 auto;
            text-align: center;
            color: #fff;
            font-size: 48px;
            z-index: 2;
          } 
      }
    }
  
      .footer{
        background: #202020;
        height: 530px;
        
        .container{
          width: 73%;
          height: 530px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        margin: 0 auto;
       
        .footer__button{
          width: 73%;
          
        }
        }
          &__button{
            margin-top: 78px;
            display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 42px 137px;
          width: 100%;
          border-radius: 139px;
          border: 1px solid var(--Gray-6, #F2F2F2);
          text-decoration: none;
          color: white;
          gap: 45px;
          
          
          }
          &__button-text{
            display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          text-decoration: none;
          gap: 17px;
          .book{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 24px;
            font-size: 24px !important;
          
          .arrow{
              width: 55px !important;
              height: 26px !important;
            }
          }
          h3{
            color: white !important;
          }
          }
          .social{
            
            .wrapper{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 34px;
              margin-bottom: 20px;
              
            }
            a{
              display: flex;
              justify-content: center;
              align-items: center;
            }
            svg{
              width: 24px;
              height: 24px;
            }
            .copyrights{
              color: white;
              margin-bottom: 30px;
            }
          }
      }


  @media screen and (min-width: 375px){
    .image-first::after{
      left: 35% ;
      top: 15%;
      background-size: contain;
      width: 227px !important;
      height: 227px !important;
  }
  .image-second::after{
    left: 36% ;
      top: 15%;
    width: 227px ;
      height: 227px ;
      background-size: contain;

  }
  .image-third:after{
    left: 32% ;
      top: 15%;
    width: 227px !important;
      height: 227px !important;
      background-size: contain;
  }
}
  @media screen and (max-width: 375px){
    body{
      width: 100%;
    }
    .header__text{
          font-size: 48px !important;
          padding-bottom: 150px !important;
          }
    .main{
      background-image: url(../images/Group3.png) !important;
      background-position-x: right;
      background-position-y: 70px !important;
       
        }
      .main-page{
        .container{
          .header{
            width: 92% !important;
          }
          width: 92% !important;
        }
      }
        .statistic{
          width: 100% !important;

          &__title {
            font-size: 36px!important;
          }
          &__text{
            font-size: 15px!important;
          }
          .statistic-number{
            font-size: 36px !important;
          }
        }
        .elem-to-hide-tablet{
          display: none;
        }
        .projects{
          .container{
            height: 1206px !important; 
        }
        }
        .banking:nth-child(3){
              margin-left: 0 !important;
              margin-top: 62px !important;
              font-size: 15px !important;
              font-weight: 500 !important;
            } 
        .banking{
          grid-column: 1 / 4;
          &__description{
            font-size: 15px !important;
          }
          &__img-third {
            height: 363px !important;
          }
          &__img-first{
            height: 278px !important;
          } 
          
          }
        
        h4{
            font-size: 32px !important;
          }
          h5{
            font-size: 24px !important;
          }
        .graphics{
         
        &__text{
            padding-bottom: 28px !important;
            font-size: 36px;
            margin-top: 58px !important;
          }
          .container{
            display: flex !important;
          flex-direction: column;
          justify-content: start;
          }
          &__images{
              display: flex !important;
              flex-direction: column;
              justify-content: start;
          }
        .image-first{
          height: 325px !important;
        }
        .image-second{
          height: 325px !important;
        }
          .image-third{
            height: 325px !important;
          }
        .image-first::after{
          left: 22% !important;
          width: 172px !important;
          height: 172px !important;
          background-size: contain;
          top: 25%!important;
      }
      .image-second::after{
        left:20% !important;
        width: 172px !important;
          height: 172px !important;
          background-size: contain;
          top: 23% !important;

      }
      .image-third:after{
        top: 23% !important;
        left: 23% !important;
        background-size: contain;
        width: 172px !important;
          height: 172px !important;
      }
    }
      .quote{
        height: 498px !important;
        .container {
          height: 498px !important;
        }
      &__text{
        font-size:  24px !important;
        
      }
      }
      .quote::after{
       height: 498px;;
      }
      .footer{
        &__button{
        gap: 20px;  
        padding: 25px !important;      
        }
       
        &__button-text{
           h3{
          font-size: 18px !important;
        }
        .book{
          font-size: 16px !important;
        }
          p{
          font-size: 15px !important;
          .arrow{
            width: 32px !important;
            height: 15px !important;
          }
          .star{
            width: 32px !important;
            height: 15px !important;
          }
        }
      }
      }
    }

  @media screen and (min-width: 768px){
    .list-item-mobile{
      display: none !important;
    }
    .image-first::after{
      top: 18% !important;
      left: 38% !important;
      width: 268px !important;
      height: 268px !important;
    }
    .image-second::after{
      width: 268px !important;
      top: 20% !important;
      left: 20% !important;
      height: 268px !important;
      
    }
    
    .image-third:after{
      top: 18% !important;
      left: 20% !important;
      width: 268px !important;
      height: 268px !important;
      
  }
}

  
  @media screen and (max-width: 768px){
    h2{
      padding-bottom: 155px!important;
    }
    .main{
      background-image: url(../images/Group2.png);
    }
    main {
      .container{
        width: 92%!important;
      }
    }
    
    .list-item{
      display: none;
    }
    .list-item-mobile{
      padding: 20px !important;
    }
    .banking{
      &__img-first{
        max-height: 400px;
      }
    }
    .elem-to-hide-phone{
      display: none;
    }
    
    .projects{
      .container{
        grid-template-columns: 1fr 1fr !important; 
        gap: 0 !important;
        .banking{
          &__description{
            font-weight: 500 !important;
          }
        }
         .banking:first-child{
          margin-top: 52px !important;
          
        }
        .banking:nth-child(2){
          margin-right: 20px;
             
       }
        .banking:nth-child(3){
          margin-left: 20px;
        }
      }
    }
      
        
      .graphics{
        h2{
          padding-bottom: 28px !important;
        }
        .container{
          display: grid !important;
        }
        
      .image-first{
        height: 325px !important;
      }
      .image-second{
        height: 325px !important;
        grid-column: 1 / 2;
      }
        .image-third{
          height: 325px !important;
        }
      .image-first::after{
        left: 30% ;
        top: 15% ;
        background-size: contain;
        width: 227px ;
        height: 227px ;
    }
    .image-second::after{
      left: 15% ;
        top: 17% ;
      width: 227px ;
        height: 227px  ;
        background-size: contain;

    }
    .image-third:after{
      left: 15% ;
        top: 18% ;
      width: 227px  ;
        height: 227px ;
        background-size: contain;

    }
  }
    .footer{
      &__button{
        width: 80% !important;
        padding: 20px 50px !important;
      }
    }
  }


}
